@{
    ViewData["Title"] = "Home Page";
}

    <!-- konto -->
    <div id="account" class="page">
        <div class="account-container">
            <h2>Dane użytkownika</h2>
            <div class="account-info">
                <p><strong>Imię:</strong> test</p>
                <p><strong>Email:</strong> test@test.com</p>
                <p><strong>ID:</strong> 12345</p>
            </div>
        </div>
    </div>




